{% extends "base.html" %}


{% block script %}

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
     
{% endblock %}

{% block content %}
      <h3>Event Display Page</h3>

      
      {% for event_info in event_info_list %}
        <h4>Event # {{forloop.counter }}</h4>
        <TABLE cellpadding="4" style="border: 1px solid #000000; border-collapse: collapse;" border="1">
        {% for top_news, top_term in event_info %}
        <tr>
        <td> {{top_news}}   </td>
        <td> {{top_term}} </td>
        <!-- <td> {{each_event_news}}.{{forloop.counter0}} }} </td> -->
        </tr>
        {% endfor %}
        </table>
        <br>
<!-- 
        <form action="/overviews/aspect_discovery/start_str={{start_str}}end_str={{end_str}}event={{forloop.counter0}}/" method="POST">
        {% csrf_token %} 
    
        <input type="submit" value="Inpect Aspects of this Event">
        </form> -->
        <button id='aspect{{forloop.counter0}}'>See Event Details and Inspects Aspects</button>

        <script >
                $(document).ready(function(){
                    $("button#aspect{{forloop.counter0}}").click(function(){
                        $("p#aspect{{forloop.counter0}}").show();
                    $.get('/overviews/aspect_running/start_str={{start_str}}end_str={{end_str}}event={{forloop.counter0}}', function(data) {
                if (data == 'OK'){
                    // alert('!!!!!!');
                  window.location.href = '/overviews/aspect_display/start_str={{start_str}}end_str={{end_str}}event={{forloop.counter0}}' ;
                } 
                else if(data == 'OneError'){
                  window.location.href = '/overviews/aspect_display_noaspect/start_str={{start_str}}end_str={{end_str}}event={{forloop.counter0}}' ;
                }
                else {
                      alert(data);
                    }
                });
                    // window.location.href='/overviews/aspect_running/start_str=20150101end_str=20150102event={{forloop.counter0}}';
                });
                });
        </script>
        <p id='aspect{{forloop.counter0}}' style="display:none;">Please Wait...</p>


     {% endfor %}


      

{% endblock %}
