{% extends "base.html" %}
{% block content %}
      <h3>Event Discovery</h3>
      <br>
      <h4>Current News Date Range:</h4>
      <h4> From: {{ all_start }} &nbsp;&nbsp; To: {{ all_end }} </h4>

      <br>
      <h4>Please select Start Date / End Date / Keywords(optional, split by comma) for event discovery: </h4>
      <div id="date-picker">
      <form action="{% url 'overview:event_discovery'%}" method="post">
        {% csrf_token %}
        Start Date: <input type="date" name="sdate" value="2015-03-07">  
        <br>
        End Date:&nbsp; <input type="date" name="edate" value="2015-03-14">  
        <br>
        <br>
        Keywords: <input type="text" name="keywords" size="35" placeholder = "optional, split by comma">
     
        <input type="submit" value="GO">
        </form>
      </div>

      <!-- <h3>{{ start_date }}</h3> -->
      {% if valid_input %}
          {% if calculation %}
          <h3>Selected start date is {{ input_start_date }}</h3>
          <h3>Selected end date is {{ input_end_date }}</h3>
          <h3> Please wait....</h3>
          <script type="text/javascript">
                $.get('/overviews/event_running/start_str={{start_str}}end_str={{end_str}}keywords={{keywords}}', function(data) {
                if (data == 'OK') {
                  window.location.href = '/overviews/event_display/start_str={{start_str}}end_str={{end_str}}' ;
                } 
                else {
                      alert(data);
                    }
                });
            </script>

         {% else %}
             <h3>Wrong input date (out of range or not valid)</h3>

        {% endif %}
    {% endif %}
      



{% endblock %}
