{% extends "base.html" %}

{% block script%}
  <script>
      $(function() {
          $( "#datepicker" ).datepicker();
      });

      $(document).ready(function(){
      
        //Click event to scroll to top
        $('.scrollToTop').click(function(){
          $('html, body').animate({scrollTop : 0},800);
          return false;
        });
      
      }); 
    </script>
{% endblock %}

{% block content %}


      <div class="col-md-8" id="search-navbar">
      <div class="row">
      <nav class="navbar navbar-default" id="nevbar" role="navigation">
      <form method="post" action="" class="form-horizontal" role="form" id="advanced-search-form" style="display:none">
            {% csrf_token %}
            {% for field in search_form %}
                <div class="form-group">
                    <label class="col-xs-2 control-label">{{ field.label_tag }}</label>
                    <div class="col-xs-10">{{ field}}</div>
                </div>
            {% endfor %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Go</button>
                    <button type="submit" class="btn btn-default" id="advanced-cancel">Cancel</button>
                </div>
            </div>
        </form>
        <form method="post" class="navbar-form" action="" class="form-horizontal" role="form" id="search-form">
        {% csrf_token %}
            <div class="input-group">
              <input type="text" name="q" id="q" placeholder="Search" class="form-control" value="{{q}}">
              <span class="input-group-btn">
              <button class="btn btn-default" type="submit" id="titleSearch">Search</button>
              <button class="btn btn-default" type="button" id="advanced-search">Advanced Search</button>
              <button class="btn btn-default" type="submit" onclick="toSearch()"><i class="glyphicon glyphicon-search"></i>search by engine</button>
              </span>
            </div>
        </form>

        </nav></div></div>
                <script>
                    function toSearch(){
                        var searchContent = $('#searchContent').val();
                        var redirectURL = "/search/?q=" + searchContent;
                        window.location.replace(redirectURL);
                    }
                </script> 
<ul id="search-results">

</ul>
<h1> News Table </h1>
<div class="row" id="order">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'overview:news_next' 0 0 %}{% if q %}?q={{q}}{% endif %} ">Order by ID</a></li>
                            <li><a href="{% url 'overview:news_next' 0 1 %}{% if q %}?q={{q}}{% endif %} ">Order by Created Time</a></li>
                            <li><a href="{% url 'overview:news_next' 0 2 %}{% if q %}?q={{q}}{% endif %} ">Order by Latest</a></li>
                        </ol>
                    </div>
{% if search_fail %}   
<h2> Sorry, No News Match Your Query </h2> 
{% endif %}           
{% if all_news_list %}

<div align="center">
	<table class="table table-striped" style="width:80%">
	  <tr>
    <td></td>
	    <td>News Title</td>
	    <td>Main_article</td> 
	    <td>source</td>
	    <td>created_time</td>
	  </tr>
	  {% for news in all_news_list %}
	  <tr>
      <td>ID: {{ news.ID }}</td> 
	    <td><a href=" {% url 'overview:tweet_with_news' news.ID %}">{{ news.title }}</a></td>
	    <td>{{ news.main_article }}</td> 
	    <td>{{ news.source }}</td>
	    <td>{{ news.created_at }}</td>
	  </tr>
	  {% endfor %}
	</table>
</div>
{% else %}
    <p>No news are available.</p>
{% endif %}
        <div class="row" id="pager">
         <ul class="pager">
         <li><a href="{% url 'overview:news_next' 1  rankmethod %}{% if q %}?q={{q}}{% endif %} ">Start</a></li>
         <li><a href="{% url 'overview:news_next' prevPos  rankmethod %}{% if q %}?q={{q}}{% endif %}">Previous</a></li>
         {%for pos in page_index %}
          <li><a href="{% url 'overview:news_next' pos  rankmethod  %}{% if q %}?q={{q}}{% endif %}">{{pos}}</a></li>
          {%endfor%}
          <li><a href="{% url 'overview:news_next' nextPos  rankmethod %}{% if q %}?q={{q}}{% endif %}">Next</a></li>
          <li><a href="{% url 'overview:news_next' last_pos  rankmethod %}{% if q %}?q={{q}}{% endif %}">Total {{last_pos}}</a></li>
          </ul>
        </div>
       <div id="scrolltop_button"> </div>
       

      <a href="#" class="scrollToTop">Scroll To Top</a>

      <div id="date-picker">
        Date: <input type="text" id="datepicker">  
      </div>



{% endblock %}

