{% load template_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>News</title>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  </head>
<body>
<h1> News Table </h1>
<div class="row" id="order">
                        <ol class="breadcrumb">
                            <li><a href="{% url 'overview:news_home'%}">Order by Alphabet</a></li>
                            <li><a href="{% url 'overview:news_home'%}">Order by Created Time</a></li>
                            <li><a href="{% url 'overview:news_home'%}">Order by Latest</a></li>
                        </ol>
                    </div>
{% if all_news_list %}
<div align="center">
	<table style="width:80%"  border="1px solid black">
	  <tr>
	    <td>News Title</td>
	    <td>Main_article</td> 
	    <td>source</td>
	    <td>created_time</td>
	  </tr>
	  {% for news in all_news_list %}
	  <tr>
	    <td><a href=" {% url 'overview:tweet_with_news' news.id %}">{{ news.title }}</a></td>
	    <td>{{ news.main_article }}</td> 
	    <td>{{ news.source }}</td>
	    <td>{{ news.created_at }}</td>
	  </tr>
	  {% endfor %}
	</table>
</div>
{% else %}
    <p>No news are available.</p>
{% endif %}
</body>
</html>


