{% extends "base.html" %}

{% block script%}
  <script>
      $(function() {
          $( "#datepicker" ).datepicker();
      });

      $(document).ready(function(){
      
        //Click event to scroll to top
        $('.scrollToTop').click(function(){
          $('html, body').animate({scrollTop : 0},800);
          return false;
        });
      
      }); 
    </script>
{% endblock %}


{% block content %}

<!-- {% load template_filters %} -->

<p>
	<h1>{{current_news.title}}</h1>
	<h4>by {{current_news.source}}</h4>
  <h4>create time: {{current_news.created_at | replace_empty}}</h4>
  <h4>URL: <a href="{{current_news.url | replace_empty}}">{{current_news.url | replace_empty}}</a> </h4>
  <h4>Key Words: {{current_news.key_word | replace_empty}}</h4>
    The news is : <pre>{{current_news.raw_text | replace_mark}}</pre>
</p>
        <form method="post" class="navbar-form" action="" class="form-horizontal" role="form" id="search-form">
        {% csrf_token %}
            <div class="input-group">
              <input type="text" name="q" id="q" placeholder="Search" class="form-control" value="{{q}}">
              <span class="input-group-btn">
              <button class="btn btn-default" type="submit" id="titleSearch">Search</button>
              </span>
            </div>
        </form>
<p>
    The related tweets are:
</p>

{% if related_tweets_list %}
<a href="{% url 'overview:tweet_filter' current_news.ID CurPos counts 0%}{% if q %}?q={{q}}{% endif %}">Filter URL Tweets</a>
<a href="{% url 'overview:tweet_filter' current_news.ID CurPos counts 1%}{% if q %}?q={{q}}{% endif %}">Show URL Tweets</a>
<div align="center">
	<table class="table table-striped" style="width:80%">
	  <tr>
	    <td>tweet</td>
	    <td>username</td> 
	    <td>time created</td>
	    <td>hashtags</td>
	  </tr>
	  {% for tweet in related_tweets_list %}
	  <tr>
	    <td>{{ tweet.raw_text }}</td>
	    <td>{{ tweet.user }}</td> 
	    <td>{{ tweet.created_at }}</td>
	    <td>{{ tweet.hash_tags }}</td>
	  </tr>
	  {% endfor %}
	</table>
</div>


{% else %}
    <p>No tweets are available.</p>
{% endif %}
        <div class="row" id="pager">
         <ul class="pager">
         <li><a href="{% url 'overview:tweet_next' current_news.ID 1 counts%}{% if q %}?q={{q}}{% endif %} ">Start</a></li>
         <li><a href="{% url 'overview:tweet_next' current_news.ID prevPos counts%}{% if q %}?q={{q}}{% endif %} ">Previous</a></li>
         {%for pos in page_index %}
          <li><a href="{% url 'overview:tweet_next' current_news.ID pos  counts%}{% if q %}?q={{q}}{% endif %} ">{{pos}}</a></li>
          {%endfor%}
          <li><a href="{% url 'overview:tweet_next' current_news.ID nextPos counts %}{% if q %}?q={{q}}{% endif %} ">Next</a></li>
          <li><a href="{% url 'overview:tweet_next' current_news.ID last_pos counts %}{% if q %}?q={{q}}{% endif %} ">Total {{last_pos}}</a></li>
          </ul>
        </div>
       <div id="scrolltop_button"></div>



    </div> 
   
    
  </body>
</html>

{% endblock %}

