{% load template_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Yifang Zhang">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>Tweenews Main Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ STATIC_URL }}css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/custom.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Tweenews: Twitter with News</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'overview:index' %}">Home</a></li>
            <li><a href="{% url 'overview:news_home' %}">News</a></li>
            <li class="active"><a href="">Me</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase">
    
      <div class="top-buffer">
        <!-- Make the space for top -->
      </div>

<p>
	<h1>{{current_news.title}}</h1>
	<h4>by {{current_news.source}}</h4>
    The news is : <pre>{{current_news.raw_text | replace_mark}}</pre>
</p>
<p>
    The related tweets are:
</p>

{% if related_tweets_list %}

<div align="center">
	<table class="table table-striped" style="width:80%">
	  <tr>
	    <td>tweet</td>
	    <td>username</td> 
	    <td>time created</td>
	    <td>hashtags</td>
	  </tr>
	  {% for tweet in related_tweets_list %}
	  <tr>
	    <td>{{ tweet.raw_text }}</td>
	    <td>{{ tweet.user }}</td> 
	    <td>{{ tweet.created_at }}</td>
	    <td>{{ tweet.hash_tags }}</td>
	  </tr>
	  {% endfor %}
	</table>
</div>


{% else %}
    <p>No tweets are available.</p>
{% endif %}
        <div class="row" id="pager">
         <ul class="pager">
         <li><a href="{% url 'overview:tweet_next' current_news.ID 1 counts%}">Start</a></li>
         <li><a href="{% url 'overview:tweet_next' current_news.ID prevPos counts%}">Previous</a></li>
         {%for pos in page_index %}
          <li><a href="{% url 'overview:tweet_next' current_news.ID pos  counts%}">{{pos}}</a></li>
          {%endfor%}
          <li><a href="{% url 'overview:tweet_next' current_news.ID nextPos counts %}">Next</a></li>
          </ul>
        </div>
       <div id="scrolltop_button"></div>

      <div class="well">
        <p>All copyrights are reserved on UIUC Data Mining Group</p>
      </div>


    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}script/bootstrap.min.js"></script>
    
  </body>
</html>



